.swal2-confirm {
    background-color: var(--bg-main);
    /* Cambia el color de fondo */
    color: white;
    /* Cambia el color del texto */
  }
  
  .swal2-cancel {
    background-color: var(--color-warning);
    /* Cambia el color de fondo */
    color: white;
    /* Cambia el color del texto */
  }