/* Base styles */
:root {
  --color-light: #ffffff;
  --color-gray: #f0f0f0;
  --font-light: #ffffff;
  --font-dark: #333333;
  --bg-light: #ffffff;
  --bg-main: #19233e;
  --bg-gradient: linear-gradient(90deg, rgba(25, 35, 62, 1) 0%, rgba(25, 35, 62, 1) 32%, rgba(6, 41, 80, 1) 100%);
  --transition: 0.5s ease-out;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light);
  font-family: Arial, sans-serif;
  color: var(--font-dark);
}

h2 {
  color: var(--font-light);
}

p {
  color: var(--font-light);
}
#text-light{
  color: var(--font-light);
  margin-bottom: 1rem;
  font-size: 22px;
}
/* Custom button styles */
.btn,
#btn-submit {
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--font-light);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--font-light);
  transition: var(--transition);
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  background-color: var(--bg-light);
  transition: var(--transition);
  z-index: -1;
}

.btn::after {
  inset: 50%;
  left: 25%;
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover,
#btn-submit:hover {
  color: var(--font-dark);
  background: var(--bg-gradient);
  transform: scale(1.1);
}

.btn:active,
#btn-submit:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 13px;
  background: var(--bg-main);
}

body::-webkit-scrollbar-thumb {
  background: var(--bg-light);
  border-radius: 50px;
  border: 1px solid #0a141d;
}

body::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* WhatsApp button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: var(--color-light);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: var(--transition);
}

.float:hover {
  background-color: #1ab152;
  animation: shake 1s infinite;
}

.my-float {
  margin-top: 16px;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

.hidden {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  visibility: hidden;
  transition: var(--transition);
}

.animate__fadeInUp {
  animation: fadeInUp 1s both;
  visibility: visible;
}

/* Animations */
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #25d36657;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: scale(1.1);
  }
}

